---
import Markdown from '@astrojs/markdown-component';
const { items } = Astro.props;
---

<style>
  dt {
    font-size: var(--font-size-gamma);
  }

  dd + dt {
    margin-top: var(--space);
  }

  dd {
    padding-left: var(--space);
  }

  dd > p {
    margin-top: var(--space-sm);
  }
</style>

<dl>
  {
    items.map(({ name, description, type, defaultValue }) => (
      <>
        <dt id={name}>
          <code>{name}</code>
        </dt>
        <dd>
          <Markdown>{description}</Markdown>
          {defaultValue && (
            <p>
              <strong>Default:</strong> <code>{defaultValue}</code>
            </p>
          )}
          {type && (
            <p>
              <strong>Type:</strong> {type}
            </p>
          )}
        </dd>
      </>
    ))
  }
</dl>
